accelerate==1.5.2
affine==2.4.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiosignal==1.3.2
alabaster==1.0.0
albucore==0.0.23
albumentations==2.0.5
altair==5.5.0
annotated-types==0.7.0
anyio==4.8.0
argparse==1.4.0
arrow==1.3.0
asttokens==3.0.0
attrs==25.1.0
babel==2.17.0
batchgenerators==0.25.1
beartype==0.20.0
blobfile==3.0.0
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
colour==0.1.5
comm==0.2.2
contourpy==1.3.1
coverage==7.6.12
cycler==0.12.1
datasets==3.3.2
debugpy==1.8.12
decorator==5.2.1
diffusers==0.32.2
dill==0.3.8
docker-pycreds==0.4.0
docutils==0.21.2
einops==0.8.1
einx==0.3.0
executing==2.2.0
fastjsonschema==2.21.1
filelock==3.17.0
fonttools==4.56.0
frozendict==2.4.6
frozenlist==1.5.0
fsspec==2024.6.1
future==1.0.0
gitdb==4.0.12
GitPython==3.1.18
h11==0.14.0
huggingface-hub==0.29.1
humanize==4.12.1
idna==3.10
imagecodecs==2024.12.30
imageio==2.37.0
imagesize==1.4.1
importlib_metadata==8.6.1
iniconfig==2.0.0
ipykernel==6.29.5
ipython==9.0.1
ipython_pygments_lexers==1.1.1
ipyvue==1.11.2
ipyvuetify==1.11.1
ipywidgets==8.1.5
isort==6.0.1
jedi==0.19.2
Jinja2==3.1.5
jinja2-time==0.2.0
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyterlab_widgets==3.0.13
jupyter_client==8.6.3
jupyter_core==5.7.2
kan==0.0.2
kiwisolver==1.4.8
lazy_loader==0.4
libcst==1.6.0
linecache2==1.0.0
loguru==0.7.3
lxml==5.3.1
make==0.1.6.post2
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
MedPy==0.5.2
Mesa==3.2.0.dev0
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
narwhals==1.29.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
numpy==2.2.3
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
packaging==24.2
pandas==2.2.3
parso==0.8.4
pillow==11.1.0
platformdirs==4.3.6
pluggy==1.5.0
prettytable==3.15.1
prompt_toolkit==3.0.50
propcache==0.3.0
protobuf==5.29.3
psutil==7.0.0
pure_eval==0.2.3
pyarrow==19.0.1
pycryptodomex==3.21.0
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
pymdown-extensions==10.14.3
pyparsing==3.2.1
pytest==8.3.5
pytest-cov==6.0.0
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
pytz==2025.1
pywin32==308
PyYAML==6.0.2
pyzmq==26.2.1
rasterio==1.4.3
reacton==1.9.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rich==13.9.4
rich-click==1.8.6
roman-numerals-py==3.1.0
rpds-py==0.23.1
ruff==0.5.1
safetensors==0.5.3
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
sentry-sdk==2.23.1
setproctitle==1.3.5
setuptools==70.2.0
SimpleITK==2.4.1
simsimd==6.2.1
six==1.17.0
slot_attention==1.4.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
solara==1.44.1
solara-server==1.44.1
solara-ui==1.44.1
spectral==0.23.1
Sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack-data==0.6.3
starlette==0.46.0
stringzilla==3.12.5
sympy==1.13.1
tensorboardX==2.6.2.2
threadpoolctl==3.5.0
tifffile==2025.3.30
timm==1.0.15
tokenizers==0.21.0
torch==2.6.0+cu126
torchao==0.10.0
torchaudio==2.6.0+cu126
torchvision==0.21.0+cu126
tornado==6.4.2
tqdm==4.67.1
traceback2==1.4.0
traitlets==5.14.3
transformers==4.50.0.dev0
triton-windows==3.2.0.post18
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
tzdata==2025.1
unittest2==1.1.0
urllib3==1.26.20
uvicorn==0.34.0
visdom==0.2.4
wandb==0.19.8
watchdog==6.0.0
watchfiles==1.0.4
wcwidth==0.2.13
websockets==15.0
websocket-client==1.8.0
wget==3.2
widgetsnbextension==4.0.13
win32_setctime==1.2.0
xxhash==3.5.0
x-transformers==2.2.12
yarl==1.18.3
zipp==3.21.0
transformers==4.50.0.dev0
pip==24.3.1
